body {
  background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  color: #61dafb;
}

.app-container {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.app-container header {
  display: grid;
  grid-template-columns: 110px auto;
}

.app-container header h1 {
  font-size: 22px;
  text-align: center;
  vertical-align: middle;
}

.app-container header img {
  width: 100px;
  height: auto;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
    .app-container {
      margin-left: 0%;
      margin-right: 0%;
     }
     .app-container header {
      display: grid;
      grid-template-columns: 70px auto;
    }
     .app-container header h1 {
       font-size: 18px;
     }
     .app-container header img {
      width: 60px;
      height: auto;
      justify-self: center;
    }
}